* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    background: #bbdbfd;
    font-family: "DINPro-Bold", sans-serif;
  }
  
  .left-div {
    height: 100%;
    flex-basis: 65%;
    padding: 4rem 3rem;
    background: no-repeat top/cover url(images/ellipse-desktop.png);
  }
  
  .left-div h2 {
    margin-top: 20px;
    color: white;
    line-height: 110%;
    letter-spacing: -0.02em;
    padding: 0 12rem 0 0;
  }
  
  .left-div p {
    margin-top: 20px;
    padding: 0 12rem 0 0;
    color: #adb5bd;
  }
  
  .right-div {
    flex-basis: 35%;
    padding: 2rem;
    position: relative;
  }
  
  .right-div .phone-img {
    width: 150%;
    height: auto;
    position: absolute;
    left: -70%;
  }
  
  .img-water {
    position: absolute;
    left: 57%;
    border-radius: 50%;
  }
  
  .stores-img {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .play-store,
  .app-store {
    text-align: center;
    padding: 0 0.3rem;
  }
  
  .img-water-hand {
    position: absolute;
    bottom: 10%;
    right: 15%;
  }
  
  .dot1,
  .dot2 {
    border-radius: 50%;
    position: absolute;
  }
  
  .dot1 {
    background-color: #6095d6;
    right: 35%;
    top: 10%;
    height: 5px;
    width: 5px;
  }
  
  .dot2 {
    background-color: #9bcd41;
    right: 27%;
    top: 15%;
    height: 8px;
    width: 8px;
  }
  
  @media only screen and (max-width: 1024px) {
    .left-div h2,
    .left-div p {
      padding: 0 2rem 0 0;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .left-div,
    .right-div {
      flex-basis: 100%;
    }
  
    .left-div {
      height: 70%;
    }
  
    .left-div {
      width: 100%;
      height: 100%;
      background: no-repeat top/cover url(images/ellipse-mobile.svg);
      background-size: 100% 100%;
    }
  
    .right-div {
      height: 30%;
    }
  
    .right-div .phone-img {
      position: static;
      text-align: center;
      width: 100%;
      height: auto;
    }
  
    .img-water-hand {
      display: none;
    }
  
    .img-water {
      top: 95%;
      left: 10%;
    }
  
    .stores-img {
    }
  }
  
  @media only screen and (max-width: 400px) {
    body {
      font-size: 60%;
    }
  
    .left-div {
      padding: 2rem 1rem;
    }
  }